<div class="row">
  <div class="col-md-5">
    <label>Filtrar por:</label>

  </div>
  <div class="col-md-10">
    <input type="text" placeholder="codigo/marca/modelo" >
  </div>
</div>
<div class="nuevoauto">
  <button class="btn btn-secondary">Nuevo Automovil</button>
</div>

<div class="table-responsive">
  <div class="table">
    <thead>
      <tr class="col-md-2">
        <th>
          <button class="btn btn-dark" (click)="toggleImg()">{{ muestraImagen ? "Oculta " :"Muestra "}}Imágenes</button>
        </th>
        <th class="text-center">Codigo</th>
        <th class="text-center">Marca</th>
        <th class="text-center">Modelo</th>
        <th class="text-center">Año</th>
        <th class="text-center">Color</th>
        <th class="text-center">Kilometros</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Calificación</th>
        <th class="text-center">OP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let auto of autos">
        <td>
          <img [src]="auto.img" *ngIf="muestraImagen">
        </td>
        <th class="text-center">
          <a routerLink="/automoviles/{{auto.codigo}}">{{auto.codigo}}</a>
        </th>
        <td class="text-justify">{{auto.marca}}</td>
        <td class="text-center">{{auto.modelo | lowercase}}</td>
        <td class="text-center">{{auto.anio}}</td>
        <td class="text-center">{{auto.color}}</td>
        <td class="text-center">{{auto.kilometraje | number}}</td>
        <td class="text-center">{{auto.precio | currency}}</td>
        <td class="text-center">{{auto.calificacion}}</td>
        <td>
          <button class="btn btn-secondary">Editar</button>
          <button class="btn btn-dark" (click)="deleteAutoById(auto.codigo)">Eliminar</button>
        </td>


      </tr>

    </tbody>
  </div>