<div class="container bg-dark text-white">
  <h1>{{auto?.marca}}</h1>
</div>

<div class="card mb-3" style="max-width: 90%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{auto?.img}}" class="text-center" alt="{{auto?.marca}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{auto?.marca}} {{auto?.modelo}}</h3>
        <p><span class="card-text"><strong>Codigo: </strong></span>
        <span>{{auto?.codigo}}</span>
        </p>
        <p><span class="card-text"><strong>Marca: </strong></span>
          <span>{{auto?.marca}}</span>
        </p>
        <p><span class="card-text"><strong>Modelo: </strong></span>
          <span>{{auto?.modelo}}</span>
        </p>
        <p><span class="card-text"><strong>Color: </strong></span>
          <span>{{auto?.color}}</span>
        </p>
        <p><span class="card-text"><strong>Kilometraje: </strong></span>
          <span>{{auto?.kilometraje}}</span>
        </p>
        <p><span class="card-text"><strong>Año: </strong></span>
          <span>{{auto?.anio}}</span>
        </p>
        <p><span class="card-text"><strong>Precio: </strong></span>
          <span>{{auto?.precio |currency }}</span>
        </p>
        
        <p><span class="card-text"><strong>Calificación: </strong></span>
          <span>{{auto?.calificacion}}</span>
        </p>

      </div>
    </div>
  </div>
</div>