<div class="card">
  <div class="container bg-dark text-white">
    <h1>Información de Automovil</h1>
  </div>
  <form [formGroup]="formulario">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
      <label for="staticCodigo">Código</label>
      <span class="text-danger" >Valor requerido</span>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca">
      <label for="staticCodigo">Marca</label>
      <span class="text-danger" >Valor requerido</span>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo">
      <label for="staticCodigo">Modelo</label>
      <span class="text-danger" >Valor requerido</span>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje">
      <label for="staticCodigo">Kilometraje</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
      <label for="staticCodigo">Precio</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion">
      <label for="staticCodigo">Calificación</label>
      <span class="text-danger" >Valor requerido</span>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="staticCodigo" name="foto" formControlName="foto">
      <label for="staticCodigo">Imágen Automovil</label>
    </div>
  </form>

  <div class="guardar">
    <button class="btn btn-dark" (click)="guardar()">Guardar</button>
  </div>
  <div class="regresar">
    <a class="btn btn-secondary" [routerLink]="['']">Regresar</a>
  </div>
</div>